<div [routerLink]="['/product', product.productId]" class="cartItemContainer pb-2 button"
    *ngIf="productPresentInCart() && product.quantity > 0" role="button">

    <img class="cartItemImg" [src]="product.images[0]" />

    <div class="w-100">
        <div class="cartItemHeader">
            <h3 class="productBrand">{{product.brand}}</h3>
            <button class="btn btn-sm removeItemBtn" (click)="toggleItemConfirmation($event)" placement="bottom"
                ngbTooltip="Remove Item From Cart">
                <span class="mdi mdi-close-thick"></span>
            </button>
        </div>
        <h5 class="productName">{{product.name}}</h5>
        <h4 class="d-flex align-items-baseline gap-2 pt-3">
            {{product.price.sellingPrice | indianCurrency}}
            <del>
                <h5>{{product.price.mrp | indianCurrency}}</h5>
            </del>
        </h4>
        <div class="col-12 col-sm-4">
            <app-add-to-cart [productId]="product.productId"></app-add-to-cart>
        </div>
    </div>
</div>

<app-modal (click)="handleEvent($event)" *ngIf="removeItemConfirmation"
    [message]="'Are you sure you want to remove this item from cart?'"
    (confirmed)="handleConfirmation($event)"></app-modal>