.cartItemContainer{
    display: flex;
    gap: 10px;
    border: 1px solid #eaeaec;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.cartItemImg{
   height: 160px;
   background: #E5E8F1;
   border-radius: 15px 0px 0px 15px;
}

.cartItemHeader{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: flex-start;
}

.removeItemBtn{
    border: none;
    background: none;
    color: red;
}

.productBrand{
    color: #282c3f;
    font-size: 20px;
    font-weight: 700;
}

.productName{
    opacity: .8;
    font-weight: 400;
    color: #535766;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.discountPercentage{
    color: #ff905a;
    font-weight: 400;
    font-size: 1.25rem;
    margin-left: 5px;
}

.cartItemContainer:hover{
    padding: 7px;
}

.mdi-delete{
    display: none;
}

.cartItemContainer:hover{
    .mdi-delete{
        display: block;
    }
}