.filtersContainer{
    padding: 5px 10px;
}

.filtersHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clearFiltersBtn{
    border: none;
    background: transparent;
    color: red;
}

.filterOptionsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}