.filtersContainer{
    padding: 5px 10px;
}

.filtersHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clearFiltersBtn{
    border: none;
    background: transparent;
    color: red;
}

.filterOptionsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filterHeading{
    background: #E5E8F1;
    padding: 5px 10px;
}

.filterItemsLabel{
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .filterItemsLabel{
        font-size: 18px
    }

    .filterOptionsContainer{
        padding: 10px;
    }
}