<div class="filtersContainer px-sm-3">
  <div class="filtersHeader">
    <h3>
      Filters
    </h3>
    <button *ngIf="nofilterApplied()===false" class="border-0 btn-sm bg-transparent text-danger" (click)="handleClearFilter()">Clear All
    </button>
  </div>
  <div>
    <div>
      <h5 class="filterHeading mt-2">Brands</h5>
      <div class="filterOptionsContainer">
        <div *ngFor="let brand of filters.brands">
          <label class="filterItemsLabel">
            <input type="checkbox" [checked]="isChecked('brands', brand)"
              (change)="onCheckboxChange('brands', brand)" />
            {{ brand }}
          </label>
        </div>
      </div>


      <h5 class="filterHeading mt-2">Processors</h5>
      <div class="filterOptionsContainer">
        <div *ngFor="let processor of filters.processor">
          <label class="filterItemsLabel">
            <input type="checkbox" [checked]="isChecked('processor', processor)"
              (change)="onCheckboxChange('processor', processor)" />
            {{ processor }}
          </label>
        </div>
      </div>

      <h5 class="filterHeading mt-2">Price Ranges (Under)</h5>
      <div class="filterOptionsContainer">
        <div *ngFor="let price of filters.price">
          <label class="filterItemsLabel">
            <input type="checkbox" [checked]="isChecked('price', price)" (change)="onCheckboxChange('price', price)" />
            {{ price | currency:'INR':'symbol-narrow':'4.0-2' }}
          </label>
        </div>
      </div>

      <h5 class="filterHeading mt-2">Connectivity</h5>
      <div class="filterOptionsContainer">
        <div *ngFor="let connectivity of filters.connectivity">
          <label class="filterItemsLabel">
            <input type="checkbox" [checked]="isChecked('connectivity', connectivity)"
              (change)="onCheckboxChange('connectivity', connectivity)" />
            {{connectivity}}
          </label>
        </div>
      </div>
<!-- 
      <label for="customRange1" class="form-label">Example range</label>
      <input type="range" class="form-range" id="customRange1"> -->


      <h5 class="filterHeading mt-2">Battery</h5>
      <div class="filterOptionsContainer">
        <div *ngFor="let battery of filters.battery">
          <label class="filterItemsLabel">
            <input type="checkbox" [checked]="isChecked('battery', battery)"
              (change)="onCheckboxChange('battery', battery)" />
            {{battery}} mAh
          </label>
        </div>
      </div>
    </div>
  </div>
</div>