<div class="productDetailsContainer">
    <div class="productDetails">
        <app-carousel class="productCarouselContainer"></app-carousel>
        <div class="productInfo">
            <h3 class="brand">{{product.brand}}</h3>
            <h4 class="productName">{{product.name}}</h4>
            <h3>
                ₹ {{product.price.sellingPrice}}<del> {{product.price.mrp}}</del>
            </h3>
            <p [innerHTML]="product.description"></p>
            <div class="addToCartContainer">
                <app-add-to-cart [productId]="product.productId"></app-add-to-cart>
            </div>
        </div>
    </div>
    <div *ngIf="isValidProduct()===false">
        No Product found with this product Id {{productId}}
    </div>
</div>