<div *ngIf="!invalidProduct" class="productDetailsContainer">
    <div class="productDetails">
        <app-carousel class="productCarouselContainer" [slideImages]="product.images"></app-carousel>
        <div class="productInfo">
            <h3 class="brand">{{product.brand}}</h3>
            <h4 class="productName">{{product.name}}</h4>
            <div class="pb-2"><span class="mdi mdi-star"></span> 4.7 | 3163 ratings</div>
            <h3 class="d-flex align-items-baseline gap-2">
                {{product.price.sellingPrice | currency:'INR':'symbol-narrow':'4.0-2'}}
                <del><h5>{{product.price.mrp | currency:'INR':'symbol-narrow':'4.0-2'}}</h5></del>
                <h5 class="discountPercentage">({{product.price.sellingPrice | discount: product.price.mrp}})</h5>
            </h3>
            <h6 class="text-secondary">Inclusive of All Taxes.</h6>
            <p [innerHTML]="product.description"></p>
            <div class="addToCartContainer">
                <app-add-to-cart [productId]="product.productId"></app-add-to-cart>
            </div>
            <hr>
            <div class="mt-3">
                <ul class="list-unstyled">
                  <li class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2-circle text-primary me-2"></i>
                    <span class="small">100% Original Products</span>
                  </li>
                  <li class="d-flex align-items-center mb-2">
                    <i class="bi bi-truck text-primary me-2"></i>
                    <span class="small">Pay on delivery might be available</span>
                  </li>
                  <li class="d-flex align-items-center">
                    <i class="bi bi-arrow-repeat text-primary me-2"></i>
                    <span class="small">Easy 14 days returns and exchanges</span>
                  </li>
                </ul>
              </div>
        </div>
    </div>
</div>

<section *ngIf="invalidProduct" class="py-3 py-md-5 min-vh-90 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img class="" src="assets/images/6430770.webp" />
          <h3 class="h2 mb-2">Oops! You're lost.</h3>
          <p class="mb-5">There is no product in our inventory with the product Id <span class="fw-bold">{{productId}}</span></p>
          <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" routerLink="/" role="button">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</section>