.productCarouselContainer{
    height: 100%;
    width: 100%;
}

.productDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.productInfo{
    padding: 5px;
}

.addToCartContainer{
    width: 50%;
}

.brand{
    color: #282c3f;
    padding: 10px 20px 0 0;
    font-size: 24px;
    font-weight: 700;
}

.productName{
    color: #535665;
    padding: 5px 20px 14px 0;
    font-size: 20px;
    opacity: .8;
    font-weight: 400;
}

@media screen and (max-width: 430px) {
    .productDetails{
        grid-template-columns: 1fr ;
    }

    .addToCartContainer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        padding: 10px; 
        text-align: center;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
        border-radius: 30px 30px 0px 0px;
        width: 100%;
    }
}