<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler border border-light mobileFiltersToggle" type="button" (click)="toggleSidebar()" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      Filters
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
      </svg>
    </button>
    <a class="btn mobileUpload d-block d-sm-none" routerLink="/upload">
      Upload CSV
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
      </svg>
    </a>
  </nav>
  
  <div [ngClass]="{'sidebar': true, 'active': isOpen}" id="sidebar">
      <app-filters></app-filters>
      <button (click)="toggleSidebar()">close</button>
  </div>
  
  

<div class="homeContainer">
    <app-filters class="filters"></app-filters>
    <app-products-list></app-products-list>
</div>

