.homeContainer{
    display: grid;
    grid-template-columns: 3fr 14fr;
}

@media screen and (max-width: 768px) {
    .homeContainer{
        grid-template-columns: 1fr;
    }
    .filters{
        display: none;
    }
  }

@media screen and (max-width: 430px) {
    .productListContainer{
        grid-template-columns: 1fr;
    }
    .filters{
        display: none;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background: #f8f9fa;
    transition: left 0.3s;
    z-index: 1000;
  }
  
  .sidebar.active {
    left: 0;
  }

  .content {
    margin-left: 250px;
    transition: margin-left 0.3s;
  }
  
  .sidebar.active + .content {
    margin-left: 0;
  }
  
.mobileFiltersToggle, .mobileUpload{
  border: 1px solid #E1E5E9 !important;
  margin: 0px 10px;
}

.sidebarOpen{
  opacity: 50%;
}

.mobileFiltersToggle{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 100;
  margin: 0px;
}