<nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none">
    <button class="navbar-toggler border border-light mobileFiltersToggle" type="button" (click)="toggleSidebar()" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      Filters
      <span class="mdi mdi-filter"></span>
    </button>
  </nav>
  
  <div [ngClass]="{'sidebar': true, 'active': isOpen}" class="shadow-lg" id="sidebar">
      <button (click)="toggleSidebar()" class=" btn btn-primary rounded sticky-top">
        <span class="mdi mdi-close border-0 bg-transparent "></span>
      </button>
      <app-filters></app-filters>
  </div>

<div class="homeContainer">
    <app-filters class="filters shadow-sm"></app-filters>
    <app-products-list [ngClass]="{'sidebarOpen': isOpen}"></app-products-list>
</div>

