<div *ngIf="cartItemsList.length" class="cartPageContainer px-lg-5">
    <div class="p-3">
        <div class="cartPageHeader">
            <h2>{{cartItemsList.length}} products in Cart</h2>
            <button class="clearCartBtn btn btn-danger" (click)="showModal()">Clear Cart</button>
        </div>
        <div *ngFor="let cartItem of cartItemsList" class="" >
            <app-cart-item [product]="cartItem" class="pt-4"></app-cart-item>
        </div>
    </div>
    <div *ngIf="cartItemsList.length" class="cartSummaryContainer px-lg-40 py-lg-20 p-3">
        <h2>Order Summary</h2>
        <div class="bg-light p-3 w-100">
          <div class="d-flex justify-content-between">
            <h5>Subtotal</h5>
          <h5>{{calculateTotalCartPrice() | currency:'INR':'symbol-narrow':'4.0-2'}}</h5>
          </div>
          <div class="d-flex justify-content-between">
            <h5>Shipping Charges</h5>
            <h5>{{shippingCharges | currency:'INR':'symbol-narrow':'2.0-2'}}</h5>
          </div>
          <div class="d-flex justify-content-between">
            <h5>Discount</h5>
            <h5> - {{discount | currency:'INR':'symbol-narrow':'4.0-2'}}</h5>
          </div>
          <hr>
          <div class="d-flex justify-content-between py-3">
            <h5>Total</h5>
            <h5>{{calculateTotalCartPrice()+ shippingCharges - discount | currency:'INR':'symbol-narrow':'4.0-2'}}</h5>
          </div>
          <div class="w-100 d-flex justify-content-center">
            <a routerLink="/checkout" class="btn btn-primary p-2 w-100">
              Proceed To Checkout
              <span class="mdi mdi-arrow-right"></span>
            </a>
          </div>
        </div>
    </div>
</div>
<div *ngIf="cartItemsList.length===0" class="w-100 d-flex emtpyCartContainer">
    <img class="emptyCartImage" src="assets/images/emptyCart.jpg" />
</div>


<app-modal
    *ngIf="cartClearConfirmation"
    [message]="'Are you sure you want to clear the cart?'"
    (confirmed)="handleConfirmation($event)"
></app-modal>