.cartPageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.cartPageHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.clearCartBtn{
    border: none;
    background: transparent;
    color: red;
    cursor: pointer;
}

.cartSummaryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .cartPageContainer{
        grid-template-columns: 1fr;
    }
  }