<div *ngIf="cartItemsList.length" class="cartPageContainer">
    <div>
        <div class="cartPageHeader">
            <h2>{{cartItemsList.length}} products in Cart</h2>
            <button class="clearCartBtn" (click)="clearCart()">Clear Cart</button>
        </div>
        <div *ngFor="let cartItem of cartItemsList">
            <app-cart-item [product]="cartItem"></app-cart-item>
            <hr>
        </div>
    </div>
    <div class="cartSummaryContainer">
        <h1>Summary</h1>
        <ul>
            <li *ngFor="let cartItem of cartItemsList">{{cartItem.name}} X {{cartItem.quantity}}</li>
        </ul>
        <h1>Total = {{calculateTotalCartPrice()}}</h1>
    </div>
</div>
<div *ngIf="cartItemsList.length==0">
    <img src="assets/images/emptyCart.jpg" />
</div>
