
.cartSummaryContainer {
  padding-left: 20px;
  position: relative; 
}


.emptyCartImage {
  max-width: 100%;
  width: 400px; 
}


.emptyCartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 992px) {
  .cartSummaryContainer {
      position: fixed;  
      top: 80px;
      right: 3vw; 
      width: 32%; 
      height: 100vh; 
      overflow-y: auto; 
  }

  .col-lg-8 {
      max-height: 100vh; 
      overflow-y: auto; 
  }
}

@media (max-width: 991px) {
  .cartSummaryContainer {
      position: relative; 
      width: 100%; 
      margin-top: 20px;
  }
}
