<div class="uploadPageContainer">
  <div class="d-flex align-items-baseline justify-content-center gap-2">
    <div class="w-lg-25 w-sm-100 d-flex">
      <div class="uploadInput">
        <input class="form-control" type="file" id="formFile" accept=".csv" (change)="handleFileChange($event)">
        <a class="btn btn-sm btn-link p-0 text-decoration-none" href="assets/csv/template.csv"
          download="template.csv">Download CSV Template</a>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!selectedFile" (click)="handleUploadClick()"
      data-toggle="tooltip" data-placement="bottom" title="Upload CSV File">
      Upload
    </button>
  </div>

  <div *ngIf="hasErrors()">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Row</th>
                <th>Error</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let error of errors | keyvalue; let i = index" class="table-danger">
                <td class="border-end">{{error.key}}</td>
                <td>{{error.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>Note: Please correct all the errors before proceeding to place order.</div>
    </div>
  </div>


  <div *ngIf="!hasErrors() && productDetails.length">
    <div class="cartPageContainer px-lg-5">
      <div>
        <h2 class="px-3">{{totalUploadedQuantity()}} Items</h2>
        <div class="productListContainer">
          <div class="p-3 border-end">
            <ng-container *ngFor="let product of productDetails">
              <div *ngIf="product.quantity > 0" class="cartItemContainer" role="button">
                <img class="cartItemImg" [src]="product.images[0]" />
                <div class="w-100">
                  <div class="cartItemHeader">
                    <h3 class="productBrand">{{product.brand}}</h3>
                  </div>
                  <h5 class="productName">{{product.name}}</h5>
                  <h4 class="d-flex align-items-baseline gap-2 pt-3">
                    {{product.price.sellingPrice | indianCurrency}}
                    <del>
                      <h5>{{product.price.mrp | indianCurrency}}</h5>
                    </del>
                  </h4>
                  <div class="col-12 col-sm-4">
                    <h5>Quantity : {{product.quantity}}</h5>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="cartSummaryContainer">
        <h2>Order Summary</h2>
        <div class="bg-light p-3 w-100">
          <div class="d-flex justify-content-between">
            <h5 class="text-muted fw-light">Subtotal</h5>
            <h5 class="fw-normal">{{calculateTotalCartPrice() | indianCurrency}}</h5>
          </div>
          <div class="d-flex justify-content-between">
            <h5 class="text-muted fw-light">Shipping Charges</h5>
            <h5 class="fw-normal">{{shippingCharges | indianCurrency}}</h5>
          </div>
          <div class="d-flex justify-content-between ">
            <h5 class="text-muted fw-light">Discount</h5>
            <h5 class="fw-normal"> - {{discount | indianCurrency}}</h5>
          </div>
          <hr>
          <div class="d-flex justify-content-between py-3">
            <h4>Total</h4>
            <h5>{{calculateTotalCartPrice() + shippingCharges - discount | indianCurrency}}</h5>
          </div>
          <div class="w-100 d-flex justify-content-center gap-2 actionBtns">
            <a routerLink="/cart" class="btn btn-success p-2 w-100" (click)="mergeWithCartItems()">
              Merge with Cart
            </a>
            <a (click)="proceedToCheckout()" class="btn btn-primary p-2 w-100">
              Checkout
              <span class="mdi mdi-arrow-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>