<div class="uploadPageContainer">
    <div class="downloadContainer">
        <a class="btn btn-primary" href="assets/csv/sample.csv" download="sample.csv">Download Sample CSV</a>
        <a class="btn btn-primary" href="assets/csv/template.csv" download="template.csv">Download CSV Template</a>
    </div>
    <div class="uploadContainer">
        <input type="file" accept=".csv" (change)="handleFileChange($event)"/>
    </div>
    <div *ngIf="productDetails.length" class="csvDataContainer">
        <div class="container">
            <div class="row">
              <div class="col-12">
                  <table class="table table-image">
                    <thead>
                      <tr>
                        <th scope="col">S. No.</th>
                        <th scope="col">Product Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Item</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of productDetails; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{data.productId}}</td>
                        <td class="w-25">
                            <img [src]="data.images[0]" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>{{data.name}}</td>
                        <td>{{data.brand}}</td>
                        <td>2</td>
                      </tr>
                    </tbody>
                  </table>   
              </div>
            </div>
          </div>
    </div>
    <div class="actionBtns d-flex">
        <button (click)="replaceWithCartItems()" class="btn btn-primary">Checkout</button>
        <button (click)="mergeWithCartItems()" class="btn btn-primary">Merge with Current Items in Cart</button>
    </div>
</div>