<div class="uploadPageContainer">
  <div class="d-flex align-items-baseline justify-content-center gap-2 " >
    <div class="w-25 d-flex">
      <div>
        <input class="form-control" type="file" id="formFile" accept=".csv" (change)="handleFileChange($event)">
        <a class="btn btn-link p-0" href="assets/csv/template.csv" download="template.csv">Download CSV Template</a>
      </div>
    </div>
    <!-- <button type="button" class="btn btn-sm btn-primary" [disabled]="!selectedFile" (click)="handleUploadClick()" data-toggle="tooltip" data-placement="bottom" title="Upload CSV File">Upload</button> -->
  </div>
  <div *ngIf="hasErrors()">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Row</th>
                <th>Error</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let error of errors|keyvalue; let i=index" class="table-danger">
                <td>{{error.key}}</td>
                <td>{{error.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      Note :- Please Correct all the errors before proceeding to place order
    </div>
  </div>
  <div *ngIf="hasErrors()===false && productDetails.length">
    <div class="">
      <div class="itemsContainer">
        <app-cart-item *ngFor="let product of productDetails" [product]="product"></app-cart-item>
      </div>
      <div class="summaryContainer">

      </div>
    </div>
  </div>
</div>
