.headerNav {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: #333;
}

.appLogo {
    height: 40px;
}

.currentUserImage {
    height: 25px;
    width: 25px;
}

.logoutIcon {
    height: 15px;
    width: 15px;
}

.cartCount {
    background: black;
    color: white;
    top: -3px;
    right: -3px;
    height: 20px;
    width: 20px;
    border-radius: 15px;
}

.mdi-account-circle,
.mdi-cart,
.mdi-file-upload,
.mdi-account-circle,
.dropdownIcon {
    font-size: 25px;
}