.headerNav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.appLogo{
    height: 40px;
}

.headerRhs{
    display: flex;
    gap: 5px;
    align-items: center;
}

.cartIcon{
    height: 25px;
    width: 25px;
}

.userIcon{
    height: 25px;
    width: 25px;
}

.currentUserImage{
    height: 25px;
    width: 25px;
}


.userInfo{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 10px
}

.cartIconContainer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.userLogin{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.dropdownIcon{
    height: 25px;
    width: 25px;
}

.logoutIcon{
    height: 15px;
    width: 15px;
}

.currentUserInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.userIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.csvUploadContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg{
        height: 15px;
        width: 15px;
    }
}

.cartCount{
    background: black;
    position: absolute;
    color: white;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.loggedInUserContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}