<div (click)="handleProductQuantityClick($event)" class="addToCartContainer">
    <button class="addToCartBtn" (click)="addProductToCart()" *ngIf="productPresentInCart()==false || itemQuantityInCart()==0">
        Add To Cart
    </button>
    <div *ngIf="productPresentInCart() && itemQuantityInCart()!=0">
        <div class="quantityInCart">
            <button class="incrementDecrementBtn" (click)="decreaseItemQuantity()">-</button>
            <h3>{{itemQuantityInCart()}}</h3>
            <button class="incrementDecrementBtn" (click)="increaseItemQuantity()">+</button>
        </div>
    </div>
</div>