.addToCartContainer {
    border-radius: 0px 50px;
}

.addToCartBtn {
    padding: 10px;
    font-size: 15px;
}

.cartIcon {
    height: 25px;
    width: 25px;
}

.incrementDecrementBtn {
    border: none;
    width: 35%;
    padding: 10px;
    background: transparent;
    background-color: #E5E8F1;
    border-radius: 50px;
}