<div (click)="handleProductQuantityClick($event)" class="addToCartContainer">
    <button class="addToCartBtn rounded-pill btn btn-primary" (click)="addProductToCart()" *ngIf="!productPresentInCart() || itemQuantityInCart() === 0">
        Add To Cart
    </button>
    <div *ngIf="productPresentInCart() && itemQuantityInCart() > 0">
        <div class="quantityInCart">
            <button class="incrementDecrementBtn rounded-pill" (click)="decreaseItemQuantity()">-</button>
            <h4>{{itemQuantityInCart()}}</h4>
            <button class="incrementDecrementBtn rounded-pill" (click)="increaseItemQuantity()">+</button>
        </div>
    </div>
</div>
