<div (click)="handleProductQuantityClick($event)" class="addToCartContainer">
    <button class="border-0 d-flex addToCartBtn justify-content-center w-100 rounded-pill btn btn-primary btn-sm" (click)="addProductToCart()"
        *ngIf="!productPresentInCart() || itemQuantityInCart() === 0" placement="bottom">
        Add To Cart
    </button>
    <div *ngIf="productPresentInCart() && itemQuantityInCart() > 0" class="d-flex gap-1">
        <div [ngClass]="{'d-flex justify-content-between align-items-center': true, 'w-75': productDetailPage, 'w-100': !productDetailPage}">
            <button class="btn btn-sm incrementDecrementBtn rounded-pill" (click)="decreaseItemQuantity()"
                placement="bottom" ngbTooltip="Decrease Item Quantity">-</button>
            <h5>{{itemQuantityInCart()}}</h5>
            <button class="btn btn-sm incrementDecrementBtn rounded-pill" (click)="increaseItemQuantity()"
                placement="bottom" ngbTooltip="Increase Item Quantity">+</button>
        </div>
        <button *ngIf="productDetailPage" (click)="removeItemFromCart()"
            class="d-block d-lg-none btn mx-2 btn-danger rounded-pill">Remove</button>
    </div>
</div>


<app-modal *ngIf="showRemoveConfirmation" [message]="'Are you sure you want to remove this item from cart?'"
    (confirmed)="removeConfirmation($event)"></app-modal>