<div (mouseover)="handleProductCardHover()" class="productCard card" >
    <div class="productCardTopPanel">
        <img [src]="product.images[0]" class="productImage"/>
        <!-- <div class="produtCardDiscount">50% OFF</div> -->
    </div>
    <div class="card-body p-0 pt-2">
        <h5 class="product brand">{{product.brand}}</h5>
        <h4 class="productCardTitle">{{product.name}}</h4>
        <div class="d-flex">
            <div class="d-flex flex-column mt-2"><h4 class="discountedPrice">{{product.price.sellingPrice | currency:'INR':'symbol-narrow':'4.0-2'}}</h4>
                <h5 class="originalPrice">{{product.price.mrp | currency:'INR':'symbol-narrow':'4.0-2'}}</h5>
            </div>
            <app-add-to-cart class="w-100 p-2" [productId]="product.productId"></app-add-to-cart>
        </div>
    </div>
</div>