<div (mouseover)="handleProductCardHover()" class="productCard card " role="button" >
    <div class="productCardTopPanel">
        <img [src]="product.images[0]" class="productImage"/>
        <!-- <div class="produtCardDiscount">50% OFF</div> -->
    </div>
    <div class="pt-2">
        <h5 class="product brand">{{product.brand}}</h5>
        <h4 class="productCardTitle" [title]="product.name">{{product.name}}</h4>
        <div class="">
            <div class="d-flex mt-2 align-items-baseline">
                <h4 class="discountedPrice">{{product.price.sellingPrice | indianCurrency}}</h4>
                <h5 class="originalPrice">{{product.price.mrp | indianCurrency}}</h5>
                <h5 class="discountPercentage">({{product.price.sellingPrice | discount: product.price.mrp}})</h5>
            </div>
            <app-add-to-cart (click)="handleQuantityClick($event)" class="w-100 h-100" [productId]="product.productId"></app-add-to-cart>
        </div>
    </div>
</div>