.productCard{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    
}

.productCardTopPanel{
    position: relative;
    background: #E5E8F1;
    border-radius: 15px 15px 0px 0px;
}

.productImage{
    height: 100%;
    width: 100%;
}

.produtCardDiscount{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    font-size: 15px;
}

