.toast-container {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}
/* 
.toast {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  animation: slideIn 0.5s ease-out;
}

.toast.success { background-color: green; }
.toast.error { background-color: red; }
.toast.info { background-color: blue; }
.toast.warning { background-color: orange; }

@keyframes slideIn {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
} */
