.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  max-width: 300px;
}

.toast {
  margin-bottom: 10px;
  border-radius: 10px;
}

.toast-body {
  display: flex;
  align-items: center;
}

.btn-close {
  margin-left: auto;
  opacity: 0.5;
}

.btn-close:hover {
  opacity: 1;
}
