<div class=" d-flex justify-content-center align-items-center">
    <div class="col-md-4 bg-white shadow-md p-5 d-flex flex-column justify-content-center">
        <div class="mb-4 text-center">
            <span class="mdi mdi-check-circle-outline"></span>
        </div>
        <div class="text-center">
            <h1>Thank You !</h1>
            <p>We've received your order and we'll be dispatching it shortly.</p>
        </div>
        <a routerLink="/" class="btn btn-sm btn-primary">Back To Home</a>
    </div>
</div>